# Python
*.pyc
__pycache__/
*.pyo
.pytest_cache/
.ruff_cache/

# Data
data/images/*
!data/images/.gitkeep
data/index/*
!data/index/.gitkeep

# Allow sample data
!data/sample_images/
!data/sample_index/

# Environment variables
.env

# Virtual environment
.venv/
venv/
env/
